pywebio
bokeh==2.4.2web3
jina>=3.3.22
clip_client>=0.4.0
docarray>=0.13.5
matplotlib==3.4.3
numpy==1.21.2
pandas==1.3.3
pandas-stubs==1.2.0.40
pandocfilters==1.5.0
plotly==4.14.3
pymongo==4.0.1
requests==2.27.1
requests-oauthlib==1.3.1
retrying==1.3.3
rich==12.3.0
rlp==2.0.1
rsa==4.8
schedule==1.1.0
scipy==1.7.2
six==1.16.0
typesense==0.13.1
urllib3==1.25.8
uuid==1.30
web3==5.29.0
yfinance==0.1.70